@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

.markdown {
  @apply text-base leading-6;
}
.markdown a {
  @apply text-teal-600 underline;
}
.markdown p {
  @apply my-4;
}
.markdown ol {
  @apply list-decimal list-outside pl-6;
}
.markdown ul {
  @apply list-disc list-outside pl-6;
}

.markdown pre {
  @apply bg-slate-800 my-2 p-3 rounded overflow-x-auto;
}

.markdown code {
  @apply text-sm;
  color: white;
}
.markdown code .hljs-comment {
  color: #6a9955;
}
.markdown code .hljs-keyword {
  color: #b267e6;
}
.markdown code .hljs-title {
  color: #dcdcaa;
}
.markdown code .hljs-built_in {
  color: #dcdcaa;
}
.markdown code .hljs-string {
  color: orange;
}
.markdown code .hljs-number {
  color: cadetblue;
}
.markdown code .hljs-literal {
  color: #569cd6;
}
.markdown code .hljs-variable {
  color: #9cdcfe;
}
.markdown code .hljs-tag .hljs-name {
  color: #4ec9b0;
}

.markdown blockquote {
  @apply px-4 py-0.5 italic text-sm border-l-4;
}

.markdown h1 {
  @apply text-2xl border-b-4 mt-4 mb-2 font-bold;
}
.markdown h2 {
  @apply text-xl mt-4 mb-2 font-bold border-l-8 pl-2 border-l-teal-600;
}
.markdown h3 {
  @apply text-base mt-4 mb-2 font-bold;
}
.markdown h3::before {
  content: "■ ";
}
.markdown h4 {
  @apply text-lg;
}
.markdown h5 {
  @apply text-lg;
}
.markdown strong {
  @apply font-bold text-red-500;
}
